body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 900px) {
  .MuiGrid-item {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .MuiTypography-h4 {
    font-size: 1.5rem;
  }
}
